@charset "UTF-8";
@font-face{
    font-family: 'Android';
    src: url('/fontes/idroid.otf') format('opentype')
}
@import url("root.css");

body{
    background-color: var(--primeira-cor);
   
}

a.externo::after{
    content:'\00A0\1F517';
}

main h2{
color: var(--quarta-cor);
font-size: 1.3em;
background-image: linear-gradient(to right, var(--terceira-cor), transparent);
text-indent: 8px;
font-weight: normal;
}

main p{
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 15px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color: var(--quarta-cor);
    font-weight: bold;
    border-radius: 3px;
}

main a{
    background-color: var(--primeira-cor);
    padding: 2px 6px;
    text-decoration: none;
    font-weight: bold;
    color: green;
}

main a:hover{
    text-decoration: underline;
    color: black;
}

header{
    background-color: var(--quarta-cor);
    min-height: 150px;
    text-align: center;
    padding-top: 50px;
    padding: 10px;
    background-image: linear-gradient(to bottom, var(--terceira-cor), var(--quinta-cor) );
    
}

nav{
background-color: var(--quinta-cor);
padding: 10px;
box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.582);
margin-bottom: 10px;
border-top: rgba(15, 15, 15, 0.158) solid;

}

nav > a{
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold;
    transition: 0.3s;
}

nav > a:hover{
    background-color: var(--terceira-cor);
    color: var(--quinta-cor)
}
header > h1{
   color: var(--branco);
   margin-bottom: 30px;
   font-size: 3em;
   text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.562);
   font-weight: normal;
}

header > p{ 
  color: var(--branco);
  font-size: 1.2em;
  max-width: 600px;
  margin: auto;
  padding-right: 10px;
  padding-left: 10px;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.562);
}

main{
 background-color: var(--branco);
 margin: 40px;
 padding: 30px;
 margin: auto;
 margin-bottom: 30px;
 min-width: 30
 0px;
 max-width: 1000px;
 box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.637);

 border-bottom-right-radius:10px ;
 border-bottom-left-radius:10px ;
 
}

main img{
    width: 100%;
}

main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

aside{
 background-color: var(--primeira-cor);
 padding: 10px;
 border-radius: 5px;   
 box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.459);
}

aside > ul{
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    columns: 2;
}

aside > h3{
    background-color: var(--quarta-cor);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px; 
    border-radius: 10px 10px 0px 0px;
}

footer{
    background-color: var(--quinta-cor);
    color: white;
    text-align: center;
    font-size: 0.8;
    padding: 5px;
}

footer > a > p{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: var(--primeira-cor)
}


div.video{
    background-color: rgb(58, 131, 40);
    margin: 0px  -20px 30px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
    border-radius: 5px;
}

div.video > iframe{
  position: absolute;
  top: 5% ;
  left:5% ;
  width: 90%;
  height: 90%;
}